@model sanpham.api.Models.Sanpham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>Sanpham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Mã SP</label>
                <input asp-for="MaSp" class="form-control" readonly />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label">Tên SP</label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label">Số lượng tồn</label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBanLe" class="control-label">Giá bán</label>
                <input asp-for="GiaBanLe" class="form-control" />
                <span asp-validation-for="GiaBanLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XuatSu" class="control-label">Xuất xứ</label>
                <input asp-for="XuatSu" class="form-control" />
                <span asp-validation-for="XuatSu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotaSp" class="control-label">Mô tả sản phẩm</label>
                <textarea asp-for="MotaSp" class="form-control" rows="4" cols="4">.</textarea>
                <span asp-validation-for="MotaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Hình Ảnh Đại Diện</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hinhanhindex, new { htmlAttributes = new { @class = "form-control", @id = "textfile", @readonly = "readonly", @style = "width:50%" } })
                    <br />
                    <input type="file" name="file" id="upload" onchange="readURL(this);" />
                    @Html.ValidationMessageFor(model => model.Hinhanhindex, "", new { @class = "text-danger" })
                </div>
            </div>

            <img src=@Html.DisplayFor(model => model.Hinhanhindex) alt="Sample Image" width="155px" style="margin-left:17%" id="imgDisplay" />
            <br />
            <br />
            <div class="form-group" style="display:flex">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <input asp-for="TrangThai" type="radio" class="form-control" value="1" />Còn Bán
                <input asp-for="TrangThai" type="radio" class="form-control" value="0" />Ngừng Bán
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script type="text/javascript">

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgDisplay')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };
                var _choose_path = document.getElementById("upload").value;
                var filepath = "/Assets/images" + _choose_path.replace("C:\\fakepath\\", "/");
                document.getElementById("textfile").value = filepath;
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
}
