
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="alert alert-success">
    Bạn vừa đặt đơn hàng thành công!
    <br />
    Vui lòng kiểm tra email!

</div>


